<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eight Queens</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Eight Queens</h1>
    <div id="app">
        <table>
            <tr v-for="row in rows">
                <td v-for="column in columns" :class="displayClass(row,column)">{{ displayText(row,column) }}</td>
            </tr>
        </table>
        <p>is OK: {{ isOK }}</p>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
</body>
</html>